<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/posts">
     <mat-icon>keyboard_backspace</mat-icon>
   </button>
   <span>Back to List View</span>
 </mat-toolbar>
<div style="height: 100%; width: 100%; margin: auto; position: relative;">
    <h1>Post Details:</h1>
    <form [formGroup]="postDetailsForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="height: 100%; width: 50%" appearance="legacy" MatFormFieldControl="caption">
            <mat-label>Caption</mat-label>
            <textarea style="height: 200px;" matInput placeholder="Insert a caption" formControlName="caption"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!postDetailsForm.valid">Save</button>
        </div>
    </form>
</div>