.card {
    max-width: 70%;
    margin: 10px;
}
.picture {
    border-radius: 10px;
    width: 100px; height: 100px
}
.username {
    color: #120f54;
    font-weight: bolder;
    margin-bottom: 0px;
}
.followers {
    color: grey;
    font-weight: bolder;
}
.time {
    color: grey;
}