<mat-card class="card">
  <mat-card-content>
    <mat-grid-list cols="5">
      <mat-grid-tile>
        <img
          mat-card-image
          style="width: 100px; height: 100px; border-radius: 10px;"
          src="{{post.user.profilePicUrl}}"
          alt="Alphin"
        />
      </mat-grid-tile>
      <mat-grid-tile>
        <p>
          {{post.caption}}
        </p>
      </mat-grid-tile>
      <mat-grid-tile cols="2">
          <mat-card-content>
              <div style="display:flex;">
                  <img
                    mat-card-image
                    style="width: 40px; height: 40px; border-radius: 20px; margin-top: 5px;"
                    src="{{post.user.profilePicUrl}}"
                    alt="Profile Picture"
                  />
                  <div style="margin-left: 26px;">
                      <h3 class="username">{{post.user.username}}</h3>
                      <p class="followers">{{post.user.counts.followedBy | shortNumber}}</p>
                  </div>
              </div>
        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-content>
            <div style="margin-top: 10px;">
                <div>
                    <img src="../../../assets/svg/like.svg"><span style="margin-right: 7px;"> {{post.counts.likes | shortNumber}}</span>
                    <img src="../../../assets/svg/comment.svg"><span> {{post.counts.comments | shortNumber}}</span>
                   </div>
                   <div>
                       <p class="time">{{post.postedAt | date:'dd/mm/yy, hh:mm'}}</p>
                   </div>
            </div>

        </mat-card-content>
      </mat-grid-tile>
      <mat-grid-tile><button mat-raised-button routerLink="/posts/{{post._id}}">Edit</button></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
